.App {
	text-align: center;
  }
  
  .App-logo {
	height: 40vmin;
	pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
	.App-logo {
	  animation: App-logo-spin infinite 20s linear;
	}
  }
  
  .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  
  .App-link {
	color: #61dafb;
  }
  
  @keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  #header {
	width: auto;
	height: 64px;
	background-color: #ccc;
  }

  #content-left > #nav li {
	padding: 10px;
	margin: 10px;
	border-bottom: groove;
  }
  
  #content-left > #nav li a {
	color: #000;
	text-decoration: none;
  }
   
  #content-center img {
	width: 100%;
  }
  
  #content-right #nav-right {
	background-color: aqua;
	padding: 20px;
  }
  
  #footer {
	width: auto;
	height: 64px;
	background-color: #ccc;
  }
  
  #footer p {
	padding: 10px 50px;
  }